.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


div#root .appbar {
  background-color: rgb(202, 44, 42);
}

div#root .appbar a {
  margin-right: 1rem;
}

.App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
}

.App.light {
  --color: var(--black);
  --background: var(--white);
  --primary: var(--dark-turquoise);
}

:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}