.contact-us {
    background-color: #89C4E1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    max-width: 500px;
    margin: 25px auto 25px;
    text-align: center;
    font-size: 20px;
}

.contact-us h1 {
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-us h3 {
    color: #210062;
    font-size: 18px;
    margin-bottom: 5px;
    font-size: 25px;
}

.contact-us ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.contact-us ul li {
    margin-bottom: 5px;
}