.contact-us {
    background-color: darkgrey;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.contact-us h1 {
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-us h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-us ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.contact-us ul li {
    margin-bottom: 5px;
}