/* .back-button {
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    text-overflow: initial;
    height: 30px;
    align-self: center;
    background-color: #d6d3d3;
} */

.back-button {
  background-color: #ECC9EE;
  color: black;
  height: fit-content;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  transition-duration: 0.4s;
  border-radius: 2.5rem;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px black;
}

.back-button:hover {
  background-color: #FEFF86;
  color: black;
}

p {
  font-size: 25px;
  font-family: 'Rockwell Extra Bold', 'Rockwell', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
