.guitarForm {
    border-radius: 10px;
    border: 1px solid #ccc;
    border-color: red;
    padding: 1%;
    margin: null;
    text-align: left;
    width: 25rem;
    background-color: cyan;
    color: black;
    font-size: 25px;
  }
  
  .inputBox {
    width: 15rem;
    height: 1.5rem;
    margin-bottom: 10px;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 0.5rem;
  }