 * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #c14d4d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top:0;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.na li:hover {
    background-color: #777;
} 

.logo {
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}


/* .dark-button:hover {
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    text-overflow: initial;
    height: 30px;
    align-self: center;
    background-color: #777;
    color: white
}

.dark-button {
    transition-duration: 0.5s;
} */

.dark-button {
    background-color: #c14d4d;
    color: black;
    height: fit-content;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    transition-duration: 0.4s;
  }
  
  .dark-button:hover {
    background-color: #555555;
    color: white;
  }